.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  border-radius: 1rem;
}

.form_login_google {
  background-color: #fff;
  padding: 4rem;
  width: 40rem;
  height: 54rem;
  border-radius: 0.4rem;
}

.header_form {
  text-align: center;
  margin-bottom: 1rem;
}

.header_form h2 {
  font-size: 2.4rem;
}

.header_form span {
  font-size: 1.4rem;
  color: gray;
}

.container_input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.button_logo {
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 1rem;
  margin-right: 2.1rem;
}

.img_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_logo {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0rem;
  filter: drop-shadow(0.1rem 0.1rem 0.3rem #1b97bd);
}

.container_input button:hover {
  background-color: #005c78;
}

.social {
  margin-top: 2rem;
}

.social button {
  border-radius: 0.5rem;
  transition: 0.1s;
}

.social button img {
  margin-inline: auto;
  height: 2.4rem;
}

.social button:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.O {
  position: relative;
  margin-top: 2rem;
  text-align: center;
}


