.button {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .button button {
      padding: 1rem;
      border: none;
      background-color: #006989;
      color: white;
      border-radius: 0.4rem;
      cursor: pointer;
      width: 30rem;
    
    }