.footer_message {
    margin-top: 3rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;    
  }

  .footer_message button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    color: #006989;
    margin: 1.2rem 0rem 0rem 0.6rem;
  }
  
  .footer_message button:hover {
    color: #0285ad;
  }

  .footer_message span{
    font-size: 1.4rem;
  }