.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  padding: 4rem;
  background-color: #fff;
  width: 40rem;
  height: 46rem;
  border-radius: 1rem;
}

.header_form {
  text-align: center;
}

.header_form h2 {
  font-size: 2.4rem;
}

.header_form span {
  font-size: 1.4rem;
  color: gray;
}

.container_input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.button_logo {
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 1rem;
  margin-right: 2.1rem;
}

.img_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_logo{
  width: 6rem;
  height:5rem;
  margin-bottom: 0rem;
}

.container_input button:hover {
  background-color: #005c78;
}

