.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  padding: 4rem;
  width: 40rem;
  height: 48rem;
  border-radius: 1rem;
}

.form h1 {
  font-size: 2.4rem;
}
.form span {
  font-size: 1.2rem;
  color: gray;
}

.container_input {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.footer_message {
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.footer_message button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #006989;
  text-transform: capitalize;
  font-weight: 600;
}

.passwordR{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.01rem solid #006989;
  height: 5rem;
}

.passwordR button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #006989;
  text-transform: capitalize;
  font-weight: 600;
}
