.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_form{
  background-color: white;
  width: 40rem;
  height: 59rem;
  border-radius: 1rem;
  padding: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_form h1 {
  font-size: 2.4rem;
}
.container_form span {
  font-size: 1.2rem;
  color: gray;
}

.container_input {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.passwordR{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  border-bottom: 0.01rem solid #0069898f;
}

.passwordR:hover{
  border-bottom: 0.01rem solid #006f91;  
}

.passwordR button:hover, .footer_message button:hover{
  color: #0189b3;
}

.passwordR button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #006989;
  text-transform: capitalize;
  font-weight: 600;
}
